
tbody {
    font-size:50px;
}
table,th,td {
    border: 5px solid #ffffff;
}
#tosi {
    writing-mode: vertical-rl;
    font-size: 150px;
}
div#w {
    /* display:flex;
    gap: 200px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#saikou{
    color: red;
}
#saitei{
    color: Blue;
}
body{
    width: 100%;
  height: 100%;
    background:linear-gradient(to right, #d7f52a 0%, #00fde8 100%);
}


