a:link {
    color: #ff0000;
}
a:visited {
    color: #00ff00;
}

a:hover {
    font-family: cursive;
    background:#ffff00;
}
div#kadai {
    display: grid;
    grid-template-columns: 1fr 1fr;
	width: 70%;
	grid-gap: 50px;
    margin-top: 50px;
    margin-left:14%;
    margin-bottom:50px;
    
}

div#kadai > div {
    background-color: #ffd795;
    border-bottom: 15px inset #ffff00;
    border-left: 15px inset #00ff00;
    border-right: 15px inset #0000ff;
    border-top: 15px inset red;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
    padding-top: 10px;
}

div#kai{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 15px;
}

div#kai > div {
    border-bottom:15px groove #383737;
    background-color: #8484c9;
}

h1 {
    font-size:70px;
    background-color: #00c3ffe0
}

.kadaitai,h3{
    text-align:center;
}