a:link {
    color: #ff9500;
}
a:visited {
    color: #f13e3e;
}

a:hover {
    font-family: cursive;
    background:#000000;
}
div#kadai {
    display: grid;
    grid-template-columns: 1fr 1fr;
	width: 70%;
	grid-gap: 50px;
    margin-top: 50px;
    margin-left:14%;
    margin-bottom:50px;
    
}

div#kadai > div {
    background-color: #ffd795;
    border-bottom: 15px inset #ffff00;
    border-left: 15px inset #00ff00;
    border-right: 15px inset #0000ff;
    border-top: 15px inset red;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    padding-top: 10px;
}

div#kai{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    grid-gap: 15px;
    margin-left: 5%;
}

div#kai > div {
    border-bottom:15px groove #383737;
    background-color: #8484c9;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size:70px;
    background-color: #00c3ffe0;
    padding-left: 8%;
}

p{
    font-size:large;
}

#moku{
    padding-left: 10%;
    padding-right: 10%;
    font-size:large;
}

.kadaitai,h3{
    text-align:center;
}

.kugi{
    text-align:center;
    font-size:50px;
    text-decoration-line:underline;
    text-decoration-color:#f360f0;
}

#kan{
    width:80%;
    margin-left:10%;
    padding:10px;
    background-color: #f8f0a4e0;
}

#sanko{
    margin-left:47%;
}